* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  margin-bottom: 15px;
}

.timers {
  list-style: none;
}

.timers-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.timers-item:last-child {
  margin-bottom: 0;
}

.timers-item-button {
  cursor: pointer;
}
